mixin episode(publishedOn, listenLink, title, description, guests, transcriptLink)
  article.episode-card
      time(datetime=publishedOn.date) #{publishedOn.formattedDate}
      h2
        a(href=listenLink target="_blank" rel="noreferrer") #{title}
      if(transcriptLink)
        .transcript
          a(href=transcriptLink target="_blank")
            span Transcript
      block
      | !{description}
      .guests
        each guest in guests
          a(href=guest.linkedIn || guest.twitter target="_blank" rel="noreferrer")
            img(src=guest.image.url alt=guest.image.description height="30" width="30")
            span #{guest.name}